*{
    padding: 0;
    margin: 0;
}
nav ul{
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content:space-around;
    align-items: center ;
    align-content: center ;
    background-color: transparent;
}
nav ul li{
    list-style: none;
    display: inline-block;
    
}
nav ul li a{
    display:block;
    color: darkgray;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    text-decoration: none;
    font-family: 'Staatliches', cursive;   
}

h3{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: floralwhite;
}
nav{
    background-color: rgba(0,0,0,.2);

}
p{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color:lightgray;
     text-indent: 2em;
    
}
h1{
    padding: 10px;
   font-family: 'Vampiro One', cursive;
    color: floralwhite;
    font-size: 50px;
    position: left;
}

main{
   column-count: 2;
}
div autor{
    column-count: 3;
}

html{
    background: url("fondo.jpg") no-repeat center fixed;
    background-size: cover;
    margin: 10px;
    padding: 10px;
}

header{
    
}

.container{
    display: flex;
    align-items: center;
    
}
img{
    max-width: 100%;
    position: right;
}
img-col{
   flex-basis: 60%;
}

video{
    position: center;
}

    
